@use '../custom' as *;


body {
     background-color: $dark-background;
     color: $primary;
}


main {
    width: 80%;
    margin: 0 auto;
}


header {
    text-align: center;
}

h1 {
    margin: 4rem auto;
}
h1 a{
    text-decoration: none;
}
h1 .typewrite{
    text-decoration: none;
    font-size: 5rem; 
}

p {
    font-size: 2rem;
}



.social-links a {
    font-size: 3rem;
    margin: 0 20px;
    text-decoration: none;
    color: inherit;
}

.social-links a:hover {
    font-size: 3.5em;
    color: $button;
}




.bouncing-button {
    padding: 3rem 0;
    font-size: 3rem;
    text-align:center;
    opacity: 1;
    background: transparent;
    color: $button;
    border: transparent ;
    -webkit-animation: bounce .3s infinite alternate;
    -moz-animation: bounce .3s infinite alternate;
    animation: bounce .3s infinite alternate;
  }
  @-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.2); }
  }
  @-moz-keyframes bounce {
    to { -moz-transform: scale(1.2); }
  }
  @keyframes bounce {
    to { transform: scale(1.2); }
  }


  




@media (min-width: 1200px){
    header {
        padding-top: 15%;
    }
}

@media (min-width: 1200px){
.social-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    left: 1%;
    z-index: 100;
    
a {
    font-size: 2rem;
    margin: 0 10px;

}
}


}